html, body {
  margin: 0;
  height: 100%;
}

p {
  color: gray !important;
  font-weight: 600 !important;
}

h1, h2, h3 {
  color: white !important;
}

.ContainerMoloch {
  background: #180307;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.NavbarMoloch {
  height: 75px;
  border-radius: 0px !important;
  font-size: 20px;
}

.NavbarMoloch .container {
  margin-left: 0px;
  margin-right: 0px;
}

.ContentMoloch {
  margin-left: 10%;
  width: 80%;
  flex: 1;
}

.GraphOptionsMoloch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.GraphOptionMoloch {
  flex: 1;
}

.GraphMoloch {
  border-radius: 10px;
  width: 100% !important;
}

.GraphContentMoloch {
  width: 100%;
  height: 100%;
}

.MarginRight10 {
  margin-right: 10px;
}

.PullRight {
  float: right;
}